.outline_form {
    border: 1px solid rgb(186, 186, 186);
    background-color: rgb(243, 243, 243);
    margin: 1em 0;
    padding: 20px;
  }
  .feedback_text {
    margin-top: 2em;
  }
  .form_picture {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form_feedback {
    width: 50%;
    height: auto;
  }
  .form-label {
    margin-bottom: 0.5rem;
    font-size: 15px;
    font-family: Jost, sans-serif;
  }
  
  .submit_form {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .submit_form:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .submit_form:hover {
    background-color: #2c974b;
  }
  
  .submit_form:focus {
    box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
    outline: none;
  }
  
  .submit_form:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, 0.1);
    color: rgba(255, 255, 255, 0.8);
    cursor: default;
  }
  
  .submit_form:active {
    box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
  }
  .btn_background {
    background-color: #53bf9f;
  }
  